/* input Commons */
#sign_up input {
    border: 1px solid #B4B4B4;
}

#sign_up label {
    width: 82px;
    height: 14px;
    display: block;
}

.input_c {
    width: 400px;
    height: 40px;
    padding-left: 10px;
}

.input_b {
    width: 88px;
    height: 40px;
    background-color: #fff;
}

#sign_up > div div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
}

/* Sign_up */

#sign_up {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 14px;
}

/* Sign_up 아이디 */

#sign_up > div > div:first-child {
    height: 40px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign_up > div > div:first-child 

/* Sign_up 아이디 */

/* Sign_up */